.menu{
    padding: 0.5rem;
    padding-left: 2rem;
}
.title{
    padding: 1rem;
    padding-left: 4rem;
   
}
.menu li{
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.menu li{
    background-color: rgb(93, 161, 255);
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center; 
    font-size: large;  
}
.menu li:hover{
    transform: scale(1.05);
}
.b1{
    border-left: 10px;
}
@media (max-width: 991px){
   .menu li{
       display: block;
       float: left;
     font-size: medium;
     margin: 5px;
   }
}